.circle1{
    background-color: pink;
    height: 400px;
    width: 400px;
    margin:  auto;
    background: conic-gradient(rgb(134, 153, 155),green,rgb(31, 31, 139),#bb1539,rgb(216, 157, 48),red,rgb(243, 243, 56));
    border-radius: 50%;
}

.circle2{
    background-color:pink;
    height:400px;
    width:300px;
    margin:auto;
    background: conic-gradient(rgb(102, 102, 23),#72e072,rgb(0, 100, 0),rgb(209, 18, 114), rgb(255, 255, 0),rgb(0, 0, 0),
    rgb(224, 224, 93),rgb(0, 225, 255),rgb(212, 182, 187),rgb(15, 147, 156),#a52a2a);
    border-radius: 600%;
}